.header {
    width: 100vw;
    height: 120px;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header > .title {
    text-align: center;
}

.header > .links-wrapper {
    align-self: center;
}

.header > .links-wrapper > li > a {
    color: black;
    text-decoration: none;
}
